Facturae-APC/src/main/resources/wsdl/FacturaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v2.ws.efactura.ceh.gobiernodecanarias.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v2.ws.efactura.ceh.gobiernodecanarias.org/" name="Factura">
<wsp:Policy wsu:Id="FacturaServicePortBinding_MTOM_Policy-FacturaServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://v2.ws.efactura.ceh.gobiernodecanarias.org/" schemaLocation="./FacturaService.xsd"/>
</xsd:schema>
</types>
<message name="version">
<part name="parameters" element="tns:version"/>
</message>
<message name="versionResponse">
<part name="parameters" element="tns:versionResponse"/>
</message>
<message name="enviarFactura">
<part name="parameters" element="tns:enviarFactura"/>
</message>
<message name="enviarFacturaResponse">
<part name="parameters" element="tns:enviarFacturaResponse"/>
</message>
<message name="ServicioError">
<part name="fault" element="tns:ServicioError"/>
</message>
<message name="consultarFactura">
<part name="parameters" element="tns:consultarFactura"/>
</message>
<message name="consultarFacturaResponse">
<part name="parameters" element="tns:consultarFacturaResponse"/>
</message>
<message name="consultarFacturaPorValores">
<part name="parameters" element="tns:consultarFacturaPorValores"/>
</message>
<message name="consultarFacturaPorValoresResponse">
<part name="parameters" element="tns:consultarFacturaPorValoresResponse"/>
</message>
<message name="anularFactura">
<part name="parameters" element="tns:anularFactura"/>
</message>
<message name="anularFacturaResponse">
<part name="parameters" element="tns:anularFacturaResponse"/>
</message>
<message name="anularFacturaPorValores">
<part name="parameters" element="tns:anularFacturaPorValores"/>
</message>
<message name="anularFacturaPorValoresResponse">
<part name="parameters" element="tns:anularFacturaPorValoresResponse"/>
</message>
<message name="consultarEstadoMotivoFactura">
<part name="parameters" element="tns:consultarEstadoMotivoFactura"/>
</message>
<message name="consultarEstadoMotivoFacturaResponse">
<part name="parameters" element="tns:consultarEstadoMotivoFacturaResponse"/>
</message>
<message name="consultarEstadoMotivoFacturaPorValores">
<part name="parameters" element="tns:consultarEstadoMotivoFacturaPorValores"/>
</message>
<message name="consultarEstadoMotivoFacturaPorValoresResponse">
<part name="parameters" element="tns:consultarEstadoMotivoFacturaPorValoresResponse"/>
</message>
<message name="consultarGrupoEstadosFactura">
<part name="parameters" element="tns:consultarGrupoEstadosFactura"/>
</message>
<message name="consultarGrupoEstadosFacturaResponse">
<part name="parameters" element="tns:consultarGrupoEstadosFacturaResponse"/>
</message>
<message name="consultarGrupoEstadoFacturasPorValores">
<part name="parameters" element="tns:consultarGrupoEstadoFacturasPorValores"/>
</message>
<message name="consultarGrupoEstadoFacturasPorValoresResponse">
<part name="parameters" element="tns:consultarGrupoEstadoFacturasPorValoresResponse"/>
</message>
<portType name="FacturaService">
<operation name="version">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/versionRequest" message="tns:version"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/versionResponse" message="tns:versionResponse"/>
</operation>
<operation name="enviarFactura">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/enviarFacturaRequest" message="tns:enviarFactura"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/enviarFacturaResponse" message="tns:enviarFacturaResponse"/>
<fault message="tns:ServicioError" name="ServicioError" wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/enviarFactura/Fault/ServicioError"/>
</operation>
<operation name="consultarFactura">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarFacturaRequest" message="tns:consultarFactura"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarFacturaResponse" message="tns:consultarFacturaResponse"/>
<fault message="tns:ServicioError" name="ServicioError" wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarFactura/Fault/ServicioError"/>
</operation>
<operation name="consultarFacturaPorValores">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarFacturaPorValoresRequest" message="tns:consultarFacturaPorValores"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarFacturaPorValoresResponse" message="tns:consultarFacturaPorValoresResponse"/>
<fault message="tns:ServicioError" name="ServicioError" wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarFacturaPorValores/Fault/ServicioError"/>
</operation>
<operation name="anularFactura">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/anularFacturaRequest" message="tns:anularFactura"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/anularFacturaResponse" message="tns:anularFacturaResponse"/>
<fault message="tns:ServicioError" name="ServicioError" wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/anularFactura/Fault/ServicioError"/>
</operation>
<operation name="anularFacturaPorValores">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/anularFacturaPorValoresRequest" message="tns:anularFacturaPorValores"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/anularFacturaPorValoresResponse" message="tns:anularFacturaPorValoresResponse"/>
<fault message="tns:ServicioError" name="ServicioError" wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/anularFacturaPorValores/Fault/ServicioError"/>
</operation>
<operation name="consultarEstadoMotivoFactura">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarEstadoMotivoFacturaRequest" message="tns:consultarEstadoMotivoFactura"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarEstadoMotivoFacturaResponse" message="tns:consultarEstadoMotivoFacturaResponse"/>
<fault message="tns:ServicioError" name="ServicioError" wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarEstadoMotivoFactura/Fault/ServicioError"/>
</operation>
<operation name="consultarEstadoMotivoFacturaPorValores">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarEstadoMotivoFacturaPorValoresRequest" message="tns:consultarEstadoMotivoFacturaPorValores"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarEstadoMotivoFacturaPorValoresResponse" message="tns:consultarEstadoMotivoFacturaPorValoresResponse"/>
<fault message="tns:ServicioError" name="ServicioError" wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarEstadoMotivoFacturaPorValores/Fault/ServicioError"/>
</operation>
<operation name="consultarGrupoEstadosFactura">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarGrupoEstadosFacturaRequest" message="tns:consultarGrupoEstadosFactura"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarGrupoEstadosFacturaResponse" message="tns:consultarGrupoEstadosFacturaResponse"/>
</operation>
<operation name="consultarGrupoEstadoFacturasPorValores">
<input wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarGrupoEstadoFacturasPorValoresRequest" message="tns:consultarGrupoEstadoFacturasPorValores"/>
<output wsam:Action="http://v2.ws.efactura.ceh.gobiernodecanarias.org/FacturaService/consultarGrupoEstadoFacturasPorValoresResponse" message="tns:consultarGrupoEstadoFacturasPorValoresResponse"/>
</operation>
</portType>
<binding name="FacturaServicePortBinding" type="tns:FacturaService">
<wsp:PolicyReference URI="#FacturaServicePortBinding_MTOM_Policy-FacturaServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="version">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioError">
<soap:fault name="ServicioError" use="literal"/>
</fault>
</operation>
<operation name="consultarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioError">
<soap:fault name="ServicioError" use="literal"/>
</fault>
</operation>
<operation name="consultarFacturaPorValores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioError">
<soap:fault name="ServicioError" use="literal"/>
</fault>
</operation>
<operation name="anularFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioError">
<soap:fault name="ServicioError" use="literal"/>
</fault>
</operation>
<operation name="anularFacturaPorValores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioError">
<soap:fault name="ServicioError" use="literal"/>
</fault>
</operation>
<operation name="consultarEstadoMotivoFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioError">
<soap:fault name="ServicioError" use="literal"/>
</fault>
</operation>
<operation name="consultarEstadoMotivoFacturaPorValores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioError">
<soap:fault name="ServicioError" use="literal"/>
</fault>
</operation>
<operation name="consultarGrupoEstadosFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarGrupoEstadoFacturasPorValores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Factura">
<port name="FacturaServicePort" binding="tns:FacturaServicePortBinding">
<soap:address location="https://localhost:8543/eFactura-ws/v2/FacturaService"/>
</port>
</service>
</definitions>